body {
    width: 100%;
    height: 100%;
    font-family: Arial,"sans-serif";
    font-size: 14px;
    background-color: #ffffff;
    color: #777777;
    margin: 0;
}

/*----------------*/

#page {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
}


#container {
    width: 100%;
    margin-bottom: 40px;
    
}


#one,#two,#three,#four,#five,#six,#seven,#eight,#nine {
    background-color: #f1f1f1;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
}

@media screen and (min-width: 1024px) {
     #one,#two,#three,#four,#five,#six,#seven,#eight,#nine {
         vertical-align: top;
         display: inline-block;
         width: 1024px;
     }
}

.itembody-wrapper {
    padding: 5px 25px 5px 25px;
    margin: auto;
}

.scrollable-logs {
    overflow: auto;
    max-height: 500px;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    width: 280px;
}

@media screen and (max-width: 420px) {
    input[type="text"],
    input[type="password"]  {
        width: 240px;
    }
}

#update {
    background-color: red;
}

.small-text{
font-size: 10px;
word-wrap: break-word;
}

/*----------------*/

table {
    border-collapse: collapse;
    margin: 10px auto 0 auto;
    max-width: 380px;
    max-height: 100px;
    border-style: none;
}

th {
   background-color: #777777;
   color: #ffffff;
   border: 1px solid #f1f1f1;
   padding: 8px;
}

td {
   background-color: #ffffff;
   color: #777777;
   border: 1px solid #f1f1f1;
   padding: 8px;
}

/*----------------*/

p {
    padding-top: 10px;
}


a {
  text-decoration: none;
  color: #0699fa;
  cursor: pointer;
}

h2 {
    font-size: 20px;
    background-color: #777777;
    color: #ffffff;
    padding: 5px 25px 5px 25px;
    margin: 0;
    text-align: center;
}

button {
    background-color: #0699fa;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

/*----------------*/

.box {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.box h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    text-align: center;
    margin: 0;
}

.box h1 span {
    color: #0699fa;
}

.box h3 {
    padding-top: 7px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    font-size: 19px;
    text-align: center;
    color: #b6b6b6;
    margin: -12px 0 0 0;
}

.box h4 {
    padding-top: 7px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    font-size: 11px;
    text-align: center;
    color: #b6b6b6;
    margin: -12px 0 0 0;
}

/*----------------*/

#footer-small-scrn {
    width: 100%;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: #bcbcbc;
}

#footer-large-scrn {
    display: none;
}

@media screen and (min-width: 1024px) {

#footer-small-scrn {
    display: none;
}
}

@media screen and (min-width: 1024px) {

#footer-large-scrn {
    position: fixed;
    display: block;
    width: 100%;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: #bcbcbc;
    bottom: 0;
    background-color: #ffffff;
}
}

#footer-large-scrn a, #footer-small-scrn a {
    color: #0699fa;
}

#footer-large-scrn span, #footer-small-scrn span {
    color: #777777;
}

.loading {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
